<div class="footer__container _container">
    <div class="footer__social-links social-links">
      <a class="social-links__link _link" href="https://github.com/denisstrizhkin" target="_blank">
        <span class="icon-github"></span></a>
      <a class="social-links__link _link" href="mailto:strdenis02@gmail.com" target="_blank">
        <span class="icon-mail4"></span></a>
      </a>
      <a class="social-links__link _link" href="https://vk.com/denisstrizhkin" target="_blank">
        <span class="icon-vk"></span></a>
      </a>
      <a class="social-links__link _link" href="https://t.me/denisstrizhkin" target="_blank">
        <span class="icon-telegram"></span></a>
      </a>
    </div>
    <div class="footer__copyright copyright">
      <small class="copyright__text"> &copy; Denis Strizhkin 2022. All rights reserved.</small>
    </div>
  </div>
